
.logo{
    background-color: gold;
    float: left;
    width: 30%;
    height: 100px;
}
.banner{
    background-color: green;
    float: left;
    width: 70%;
    height: 100px
;
}
.headlink{
    height: 30px;
    width: 100%;
    text-align: center;
    
}
